$primary: #0466C8;
$primary-light: #0978e6;
$primary-dark: #0353A4;
$primary-dark-2: #5C677D;
$primary-dark-3: #122039;
$green: #50b06c;
$dolby-io-gradient: linear-gradient(90deg, #3c4bf4 0%, #7340f5 100%);
